<p>
  <strong>Department:</strong>
  <%= @request.department %>
</p>

<p>
  <strong>Title:</strong>
  <%= @request.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @request.date %>
</p>